@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
*{
  font-family: 'Nerko One', cursive;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 400ms cubic-bezier(.25,.37,.17,.96);
}
.header[data-scroll="out"] {
  transform: translatey(-100%);
}
[data-scroll-dir-y="-1"] .header {
  transform: translatey(0);
}

html {
  font-size: 110%;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  line-height: 1.45;
  background-image: url('https://cdn2.vectorstock.com/i/1000x1000/52/61/movie-cinema-poster-flying-popcorn-tape-vector-27045261.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  color: #fff;
  background-color: brown;
  border-bottom: 3px #102d47 solid;
  padding: 15px 20px;
}

.main {
  padding: 7.5em 0 4.5em;
  margin-top: 450px;
  padding: 30px ;
}

.footer {
  padding: 25px 0;
  color: #fff;
  background-color: brown;
  margin-top: 200px;
  border-top: 3px #102d47 solid;
  text-align: center;
}
.footer h1{
  font-size: 30px;
}
.footer a{
  color: #102d47;
}
.card{
  background-color: #102d47;
}

ul{
  margin-bottom: 20px;
  display: flex;
  justify-content:space-around;
}
div li{
  list-style: none;
}
.card-body{
  background-color: brown;
  padding: 30px 0px;
  color: white;
}
div h5{
  font-size: 25px;
}
.title{
  font-size: 48px;
  padding-bottom: 10px;
}
.card-body img {
  width: 250px;
  height: 150px;
}
